# Dependencies
node_modules/
.pnpm-debug.log
pnpm-lock.yaml

# Build output
dist/
.vercel/
.vite/

# System files
.DS_Store

# Astro cache
.astro/

# Environment secrets
.env
.env.local
.env.*.local
.env.development
.env.production